.cover {
    background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), 
    url('../../images/__background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: calc(100vw*0.625);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 64px;
  }

.cover:hover {
    background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), 
    url('../../images/__background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

@media screen and (min-width: 768px){
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1024px){
    .cover {
        margin-bottom: 92px;
    }


}

@media screen and (min-width: 1280px){
    .cover {
        max-width: 1184px;
        min-height: 740px;
        margin: 0 auto 92px;
    }
}