.places__place {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    row-gap: 32px;
    margin-bottom: 50px;
}

.places__place:last-of-type {
    margin: 0;
  }

@media screen and (min-width: 768px){
    .places__place {
        grid-template-columns: minmax(340px, 1fr) 1.035fr;
        column-gap: 28px;
        row-gap: 48px;
        margin-bottom: 71px;
    }
}

@media screen and (min-width: 1024px){
    .places__place {
        grid-template-columns: minmax(440px, 1fr) 1.057fr;
        column-gap: 32px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1280px){
    .places__place {
        grid-template-columns: minmax(460px, 1fr) 1.052fr;
        column-gap: 40px;
    }
}