.header__lang-links {
    display: flex;
    align-items: flex-end;
    align-self: center;
    margin: 7px 0 0;
    padding: 0;
    gap: 18px;
    list-style-type: none;
    text-decoration: none;
  }

@media screen and (min-width: 768px){
  .header__lang-links {
    margin-top: 13px;
  }
}